.home-photos {
    background: url('https://img.freepik.com/free-vector/quiz-game-stage-interior-with-stands-spotlights_107791-13339.jpg?w=1380&t=st=1665594166~exp=1665594766~hmac=f00755de3f8d2c6c3331360d76020caa472b708b70db4ef98b5c66e431e761ab');
    height: 400px;
    border-radius: 5px;
    margin: 0 auto;
}